@import '../../style/variables.scss';

.savedCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: none;
  .details {
    flex: 1;
    font-size: 0.9rem;
    p {
      padding: 0 5px;
    }
    .description {
      color: #555;
      margin: 0;
      font-weight: bold;
    }
    .category {
      color: #777;
      font-size: 0.8rem;
    }
  }

  .incomeActivity,
  .expenseActivity {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
  }
  .incomeActivity {
    color: $status-success-600;
  }
  .expenseActivity {
    color: $status-danger-600;
  }
  .actions {
    display: flex;
    gap: 8px;

    button {
      width: 40px;
      height: 40px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      background-color: $brand-600-main;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &.remove {
        background-color: $status-danger-600;

        &:hover {
          background-color: #a71d2a;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .savedCard {
    display: flex;
  }
}
