@import '../../style/variables.scss';

.expRows{
    display: grid;
    grid-template-columns: .25fr repeat(3, .75fr) repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    padding: 5px;
    color: $brand-600-main;
    position: relative;
}
.cells{
    padding: 7px;
    border-bottom: .5px solid $natural-300;
}
.cell4 { 
    text-transform: capitalize;
}
.head{
   color: $natural-400;
   font-weight: 500;
}
.dataOptions{
    display: none;
    position: absolute;
    right: 0px;
    height: 100%;
    & > * {
        margin: 5px;
    }
    align-items: center;
    justify-content: center;
}
.delete{
    background: transparent;
}
.paid  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 1px 5px;
    color: $basic-white;
    background: $status-success-600;
    cursor: pointer;
    border-radius: 3px;
}
.paid img {
     width: 25px;
     height: 25px;
}
.delete { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  3px 7px;
    border-radius: 3px;
    cursor: pointer;
    background: $status-danger-50;
    // &:hover { 
    // }
}
.delete img{
    width: 20px;
    height: 20px;
}
.expRows:hover .dataOptions{
    display: flex;
}
.paidAmount{
    color: $status-success-600;
}
.unpaidAmount{
    color: $status-danger-600;
}

@media (max-width: 900px){
     .expRows{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
background: $basic-white;
margin: 10px;
border-radius: 5px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     }
     .cell1 { 
        display: none;
     }
     .cell2 { grid-area: 2 / 1 / 3 / 2; }
.cell3 { grid-area: 1 / 1 / 2 / 2; }
.cell4 { grid-area: 3 / 1 / 4 / 3; }
.cell5 { grid-area: 1 / 2 / 2 / 3; }
.cell6  { grid-area: 2 / 2 / 3 / 3; }
.dataOptions { 
    display: none;
    bottom: 5px;
    width: 100%;
    height: fit-content;
    align-items: flex-end;
    .paid::after { 
        content: 'Paid';
        font-size: 12px;
        padding: 5px;        
    }
    .delete::after { 
        content: 'Delete';
        padding: 5px;
        font-size: 12px;
        color: $status-danger-600;
    }
    .paid img , .delete img {
        width: 18px;
    }
     .delete img {
        width: 16px;
    }
    .delete, .paid { 
        margin: 0px 5px;
        padding: 0px 5px;
    }
}
.expRows:hover .dataOptions { 
    display: flex;
}

.cells { 
    border: none;
    padding: 0px 5px;
    font-size: 12px;
}
.cell3 { 
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: end;
}
.cell2 { 
    color: $natural-400;
}
.cell5 { 
    font-size: 18px;
    text-align: right;
}
.cell6 { 
    font-size: 14px;
    text-align: right;
    // &::after { 
    //     content: ' Pending';
    // }
}
.cell4 { 
    font-size: 12px;
    display: none;
}
.expRows:hover .cell4{ 
display: flex;
}
.head { 
    display: none;
}
}