@import '../../style/variables.scss';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: $natural-100;
  justify-content: center;
}

.nav {
  width: fit-content;
  text-align: center;
  background: $brand-600-main;
  margin: 5px;
  border-radius: 3px;
  padding: 5px;
  .navLinks {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      .link {
        text-decoration: none;
        padding: 0.5rem;
        width: 120px;
        gap: 0.1rem;
        transition: background-color 0.3s, color 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1px;
        border-radius: 3px;
        color: $basic-white;
        span {
          text-decoration: none;
          font-size: 0.8rem;
          font-weight: normal;
          padding: 0px;
          margin: 0px;
        }
        .icon {
          width: 15px;
          height: 15px;
        }
        &:hover {
          background-color: $natural-400;
          color: $brand-600-main;
        }
        &:active {
          background: $natural-100;
          color: $brand-600-main;
        }
      }
    }
  }
}

.link {
  color: $basic-white;
}
.link.active {
  background: $natural-100;
  color: $brand-600-main !important;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
    .navLinks {
      li {
        flex: 1;
        .link {
          width: auto;
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
