@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,700&display=swap');

@import './typography.scss';
@import './variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: $natural-100;
}

input,
button {
    font-family: 'Poppins', sans-serif;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.primary{
    background: $brand-50;
    color: $brand-600-main;
    &:hover{
        background: $brand-400;
        color: $basic-white;

    }
}
.success{
    background-color: $status-success-50;
    color: $status-success-600;
    &:hover{
        background: $status-success-400;
        color: $basic-white;
    }
}
.danger{
    background :$status-danger-50;
    color: $status-danger-600;
    &:hover{
        background:  $status-danger-400;
        color: $basic-white;
    }
}