@import '../../style/variables.scss';

.sidebar {
    background: $natural-100;
    max-width: 300px;
    height: 100%;
    border-right: .5px solid $natural-300;
  }
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9%;
    img { 
        width: 60%;
    }
}
  .title {
    color: $brand-600-main;
    text-align: left;
    font-size: 16px;
    padding: 0px 15px;
    height: 4%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .worklist {
    background: $natural-100;
    height: 80%;
    margin-top: 0rem;
    overflow: hidden;
    overflow-y: auto;
  }
  .workitem {
    position: relative;
    transition: ease-in-out 0.2s;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $natural-300;
    background: $natural-200;
}
.workitem.active {
    background: $brand-600-main;
    color: $basic-white;
  }
//   .workitem:hover {
//     background: $basic-white;
//     color: $brand-600-main;
//   }
  .buttonBox {
    height: 7%;
  }
  .button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background: $brand-600-main;
    color: $basic-white;
  }
  .deleteBtn {
    display: none;
    position: absolute; 
    right : 5px;
    width: 30px;
    padding: 5px;
    border-radius: 3px;
    &:hover { 
        background: $basic-white;
    }
  }
  .workitem:hover .deleteBtn { 
    display: block;
  }
  .input {
    padding: 0 1rem;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background ease 0.2s;
  }
  .icons:hover {
    background: rgba(255, 0, 0, 0.146);
  }
  .confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.61);
    // padding: 50px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }
  .confirmBox{
    background: $basic-white;
    padding: 30px;
    border-radius: 5px;
    width: 60%;
    p { 
        font-size: 16px;
        margin-top: 20px;
    }
    button { 
        width: 150px;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: all ease-in-out 250ms;
    }
    span { 
            display: flex;
            justify-content: end;
            :first-child { 
                background: $basic-white;
                &:hover { 
                    background: $natural-200;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                }
            }
            :last-child { 
                background: $status-danger-600;
                color:$basic-white;
                &:hover { 
                    color:$status-danger-600;
                    background: $status-danger-50;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                }
            }
    }
    
  }


@media screen and (max-width: 480px){
    .sidebar.open{
        display: block;  
    }
    .sidebar.close{
        display: none;
    }
    .sidebar{
        position: absolute;
    max-width: 100%;
     
        width: 100%;
        z-index: 99;
        height: calc(100dvh  - 60px);
        border: 1px solid $natural-300;
    }
    .logo { 
        img { 
            height: 50px;
        }
    }
    .deleteBtn { 
        display: block;
    }
     .confirm { 
        z-index: 999;
        height: 100dvh;
     }
     .confirmBox { 
        width: 85%;
   
        padding: 10px;
     }
  }