@import '../../style/variables.scss';

.filters{
    display: flex;
    border-bottom: .5px solid $natural-300;
    flex-direction: column;
    width: 100%;
}
.filterTitile { 
    padding: 0px 10px;
    color: $brand-600-main;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.filterBox{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    label { 
        color: $brand-600-main;
        width: 40%;
        font-size: 14px;
    }
    select, input { 
        width: 60%;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 3px;
    }

}
.filterOption{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.filterApply{
    background: $brand-600-main;
    padding: 3px 10px;
    color: $basic-white;
    border-radius: 3px;
    cursor: pointer;
    &:hover { 
        background: $brand-800;
    }
}
.filterReset{
    background: $natural-100;
    color: $brand-600-main;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
    &:hover { 
        background: $natural-300;
    }
}

@media screen and (max-width : 480px) {
    .filterBox{

        padding:10px;
        select, input { 
            border-radius: 3px;
        }
    
    }
}