@import '../../style/variables.scss';

.spent{
    width: 100%;
    margin : 0 10px;
        height: 100%;
        border-radius: 3px;
        color: $brand-600-main;
        justify-content: space-between;
        display: flex;
}
.title{
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.amnt{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px){
    .spent { 
        margin: 3px;
    }
    .amnt,.title { 
        font-size: 14px;
    }
    .amnt { 
        width: 40%;
        justify-content: start;
    }
    
}