@import '../../style/variables.scss';

.spent{
    width: 100%;
    margin : 0 10px;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
        color: $brand-600-main;
        justify-content: space-between;
        display: flex;
}
.title{
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.amnt{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}